@import './variables';

@font-face {
  font-family: "PingFang Bold";
  src: url("~@/assets/fonts/PingFang Bold_0.ttf");
}
@font-face {
  font-family: "PingFang ExtraLight";
  src: url("~@/assets/fonts/PingFang ExtraLight_0.ttf");
}
@font-face {
  font-family: "PingFang Heavy";
  src: url("~@/assets/fonts/PingFang Heavy_0.ttf");
}
@font-face {
  font-family: "PingFang Light";
  src: url("~@/assets/fonts/PingFang Light_0.ttf");
}
@font-face {
  font-family: "PingFang Medium";
  src: url("~@/assets/fonts/PingFang Medium_0.ttf");
}
@font-face {
  font-family: "PingFang Regular";
  src: url("~@/assets/fonts/PingFang Regular_0.ttf");
}

* {
  font-family: "PingFang Regular"
}

.page {
  width: 100%;
}

/*
 *  Customize scroll bar
 */
* {
  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: white;
  }
  &::-webkit-scrollbar
  {
      width: 5px;
      background-color: white;
  }
  &::-webkit-scrollbar-thumb
  {
      background-color: rgb(156, 185, 223);
  }
}

button {
  border: none;
}