@import './variables';

::-webkit-scrollbar {
  width: 6px;
  height: 70px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #bac4d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: darken(#bac4d1, 10);
}
